html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.mega-menu{
  position: static;
}
.mega-menu .dropdown-menu{
  max-width: 900px;
  width: 100%;
  left: 50%!important;
  transform: translate(-50%,0%);
  transition: all 0.2s ease-in-out;
}
.dropdown-menu.show{
  animation: fadeIn 0.3s;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
    top: 30px;
  }
  100%{
    opacity: 1;
    top: 100%;
  }
}

.nav-pill .nav-link.active{
  background-color: black;
  color:white;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
